@use '@angular/material' as mat;
@include mat.core();

// TODO typography
// TODO custom palettes

// Light theme
$app-primary: mat.define-palette(mat.$orange-palette, 500, 100, 800);
$app-accent: mat.define-palette(mat.$blue-palette, 700, 100, 800);
$app-warn: mat.define-palette(mat.$red-palette, 500, 500, 500);

$app-light-theme: mat.define-light-theme(
  (
    color: (
      primary: $app-primary,
      accent: $app-accent,
      warn: $app-warn,
    ),
    density: 0,
  )
);

@include mat.all-component-themes($app-light-theme);

// Dark theme
$app-dark-primary: mat.define-palette(mat.$orange-palette, 500, 100, 800);
$app-dark-accent: mat.define-palette(mat.$purple-palette, 700, 100, 800);
$app-dark-warn: mat.define-palette(mat.$red-palette, 500, 500, 500);

$app-dark-theme: mat.define-dark-theme(
  (
    color: (
      primary: $app-dark-primary,
      accent: $app-dark-accent,
      warn: $app-dark-warn,
    ),
    density: 0,
  )
);

.dark-theme {
  @include mat.all-component-colors($app-dark-theme);
}
