@use '@angular/material' as mat;
@include mat.core();

// TODO typography
// TODO custom palettes
/* $mat-primary: (
  50: $primary-50,
  100: $primary-100,
  200: $primary-200,
  300: $primary-300,
  400: $primary-400,
  500: $primary-500,
  600: $primary-600,
  700: $primary-700,
  800: $primary-800,
  900: $primary-900,
  contrast: (
    50: $primary-contrast-light,
    100: $primary-contrast-light,
    200: $primary-contrast-light,
    300: $primary-contrast-light,
    400: $primary-contrast,
    500: $primary-contrast,
    600: $primary-contrast,
    700: $primary-contrast-dark,
    800: $primary-contrast-dark,
    900: $primary-contrast-dark,
  ),
);

$app-primary: mat.define-palette($mat-primary); */

// Light theme
$app-primary: mat.define-palette(mat.$orange-palette, 500, 100, 800);
$app-accent: mat.define-palette(mat.$blue-palette, 700, 100, 800);
$app-warn: mat.define-palette(mat.$red-palette, 500, 500, 500);

$app-light-theme: mat.define-light-theme(
  (
    color: (
      primary: $app-primary,
      accent: $app-accent,
      warn: $app-warn,
    ),
    density: 0,
  )
);

@include mat.all-component-themes($app-light-theme);

// Dark theme
$app-dark-primary: mat.define-palette(mat.$grey-palette, 600, 100, 800);
$app-dark-accent: mat.define-palette(mat.$purple-palette, 700, 100, 800);
$app-dark-warn: mat.define-palette(mat.$red-palette, 500, 500, 500);

$app-dark-theme: mat.define-dark-theme(
  (
    color: (
      primary: $app-dark-primary,
      accent: $app-dark-accent,
      warn: $app-dark-warn,
    ),
    density: 0,
  )
);

.dark-theme {
  @include mat.all-component-colors($app-dark-theme);
}
