<mat-toolbar color="primary" class="header-container">
  <div class="flex-flex">
    <button mat-icon-button (click)="toggleLeftDrawer()"><mat-icon>menu</mat-icon></button>
  </div>
  <div class="flex-row flexAlign-start--center">
    <div class="flex-flex theme-control mr-16">
      <div class="mr-8">
        <mat-icon>brightness_5</mat-icon>
      </div>
      <mat-slide-toggle (change)="toggleTheme($event)" [checked]="isDarkTheme"> </mat-slide-toggle>
      <div class="ml-8"><mat-icon>brightness_4</mat-icon></div>
    </div>
    <div class="flex-flex mr-16">
      <button mat-flat-button color="accent" [matMenuTriggerFor]="langMenu">
        {{ 'lang.switch-title' | translate }}
      </button>
      <mat-menu #langMenu="matMenu">
        <button mat-menu-item (click)="setLang('en')">
          {{ 'lang.en.full' | translate }}
        </button>
        <button mat-menu-item (click)="setLang('de')">
          {{ 'lang.de.full' | translate }}
        </button>
      </mat-menu>
    </div>
  </div>
  <span>seed 15</span>
</mat-toolbar>
